{% extends 'base.html' %}
{% block title %}
	<title>Task Details</title>
{% endblock %}

{% block content %}
	<div class="container mt-5">
        <div class="card mb-4">
            <div class="card-header">
                <h4>Task Details</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">Deadline: {{ task.deadline|date:'Y-m-d' }}</h4>
                <h4 class="card-subtitle mb-2 text-muted">Status: {{ task.status }}</h4>
                <p class="card-text">{{ task.description }}</p>
                <p>{{ task.detailed_description }}</p>
                <a href="/" class="btn btn-success"><i class="bi bi-arrow-left"></i>Назад</a>
            </div>
        </div>
    </div>
{% endblock %}
